<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../vendors/bootstrap.min.js" charset="utf-8">
    <title>Eric's Weekend Project #3</title>
  </head>
  <body>
    <input type="number" value="" id="firstNumber" name="firstNumber">
    <select name="symbol" id="symbol">
      <option>+</option>
      <option>-</option>
      <option>/</option>
      <option>*</option>
    </select>
    <input type="number" value="" id="secondNumber" name="secondNumber">
    <button type="button" id="submit">equals</button>
    <p id="serverOutput">
    </p>
    <button type="button" name="clear" id="clear">clear</button>
  </body>
</html>
